@import "styles.css";

h1,
h2 {
	text-align: center;
	font-family: 'Rancho';
	color: var(--darkbrown);
	font-weight: bold;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2em;
}

img {
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
}

.flip-card {
	width: 50vh;
	height: 100vh;

	font-family: 'Rancho', cursive;
	font-size: 1.4em;
	line-height: 130%;
	text-align: justify;
	color: var(--textbrown);

	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
	position: relative;
	width: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	background-image: linear-gradient(var(--offwhite), white);
	border-radius: 25px;
	border: 4px solid var(--bgorange);

	padding: 5%;
}

.flip-card-back {
	background-image: linear-gradient(var(--offwhite), white);
	border-radius: 25px;
	border: 4px solid var(--bgorange);

	padding: 5%;

	transform: rotateY(180deg);
}

.flip-card-title {
	margin-bottom: 4px;

	font-family: 'Kalam', cursive;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: var(--textbrown);
}
