@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kalam:wght@700&family=Rancho&display=swap');

:root {
	--darkbrown: rgb(128, 84, 46);
	--textbrown: rgb(190, 127, 75);
	--bgyellow: rgb(252, 239, 185);
	--bgorange: rgb(221, 172, 117);
	--offwhite: rgb(255, 252, 241);
	--ash: rgb(77, 66, 57);

	--olivelight: rgb(98, 135, 89);
	--olivedark: rgb(62, 85, 57);

<<<<<<< HEAD
	font-size: 1.1em;
=======
    --linkblue: rgb(94, 130, 132);

    font-size: 1.1em;
>>>>>>> 1a59eb89e7b2588c8ab491c3e9d58ad581c97608
}

h1 {
	padding-top: 4%;
	text-align: center;

	font-family: 'Rancho';
	font-size: 3.5em;
	color: var(--darkbrown);
	font-weight: bold;
}

p {
	margin-bottom: 0px;
}

body {
	background-image: linear-gradient(225deg, var(--bgorange), var(--bgyellow));
	background-attachment: fixed;
	min-height: 100vh;
}

a {
    color: var(--linkblue);
    font-style: bold;
}

.row {
	width: 95%;
	margin: auto;
}
